/* This is what we are focused on */

body{
  background-color: brown;
}

.table-wrapper{
    overflow-y: scroll;
    height: 250px;
  }
  
  .table-wrapper th{
      position: sticky;
      top: 0;
  }
  
.table_items{
    border-collapse: collapse;
    width: 100%;
  }
  
  .th{
      background: #DDD;
  }
  
  td,.th{
    padding: 10px;
    text-align: center;
  }


  .input_cant{
    size: 20px;
  }